<server description="worklight">

       <featureManager>
	<feature>servlet-3.0</feature>
	<feature>jndi-1.0</feature>
	<feature>jdbc-4.0</feature>
	<feature>localConnector-1.0</feature>
<!--
        <feature>appSecurity-2.0</feature>
        <feature>ssl-1.0</feature>
        <feature>ldapRegistry-3.0</feature>
	<feature>jsp-2.2</feature>
-->
    </featureManager>

    <webContainer invokeFlushAfterService="false"/>
	<webContainer com.ibm.ws.webcontainer.suppressLoggingServiceRuntimeExcep="true"/>
	<webContainer deferServletLoad="false"/>

    <!-- non standard ports were used to avoid future collision with other WebSphere products. -->
    <httpEndpoint host="*" httpPort="10080" httpsPort="10443" id="defaultHttpEndpoint">
 	<tcpOptions soReuseAddr="true"/>

    </httpEndpoint>

<!--  change Worklight server side logging: 
      change consoleLogLevel to INFO to see Worklight JavaScript Logger API output
      (for example: in Worklight Adapters).
-->
    <logging consoleLogLevel="AUDIT" copySystemStreams="false"/>

    <!-- enable next element for Worklight Server traces. 
         change traceSpecification to enable fine grain printing to trace.log file. 
    <logging traceSpecification="com.worklight.*=debug=enabled"/>
    -->


    <applicationMonitor updateTrigger="mbean"/>

    <webApplication id="_MobileBrowserSimulator" location="_MobileBrowserSimulator.war" name="_MobileBrowserSimulator"/>

    <application context-root="/TMP" id="TMP" location="TMP.war" name="TMP" type="war">
        <classloader commonLibraryRef="worklight-6.0.0,apps-common"/>
    </application>

    <library id="apps-common">
        <fileset dir="/Users/cla/Documents/workspace/TMP/Desenvolvimento/WorklightServerConfig/shared/resources" includes="org.hsqldb.hsqldb_2.2.5.jar"/>
    </library>

    <library id="worklight-6.0.0">
        <fileset dir="/Users/cla/Documents/workspace/TMP/Desenvolvimento/WorklightServerConfig/shared/resources" includes="worklight-jee-library-6.0.0.jar"/>
    </library>
</server>