
/* this CSS file extends the application CSS file found under common\css */

/* body should stretch in a Windows Phone application */
body {
	height: auto;
	min-height: 100%;
	overflow: auto;
}

/*Worklight container div */
#content {
	height: auto;
	min-height: 100%;
	width: 100%;
}
