.place {
    float: left;
    padding: 2px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.place.large {
    width: 50%;
    height: 200px;
}

.place.medium {
    width: 75%;
    height: 50px;
}

.place.small {
    width: 25%;
    height: 100px;
}

.place .content {
    width: 100%;
    height: 100%;

    overflow: hidden;

    color: #202020;
    font-weight: bold;
    background:  #cacbcd;
}

.place .content.center {
    text-align: center;
    vertical-align: middle;
}
